<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
    <script src="./javascript/main.js"></script>
</head>
<body onload="init()">
<div class="container">

    <div class="page-header text-center">
        <h1> <%= user.facebook.name %> </h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- FACEBOOK INFORMATION -->
        <div class="col-md-4">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                    <p>
                        <strong>Name</strong>: <%= user.facebook.name %><br>
                        <strong>Email</strong>: <%= user.facebook.email %><br>
                        <strong>Profile Image</strong>: <img id="profile" src= "<%= user.facebook.photo %>" alt="Profile Picture" style="width:50px;height:50px;">
                    </p>

            </div>

            <div class="well">
                <select id="option" class="form-control">
                    <option>Fine Gale</option>
                    <option>Fianna Fail</option>
                    <option>Sinn Fein</option>
                    <option>Independant</option>
                    <option>Labour Party</option>
                    <option>AAA-PBP</option>
                    <option>Social Democrats</option>
                    <option>Green Party</option>
                    <option>Renua</option>
                </select>
                <a id="download" class="btn btn-primary">Download Image</a>
            </div>
        </div>
        <div class="col-md-8">
            <canvas id="canvas" width="717" height="717">
                your browser doesn't support canvas!
            </canvas>
        </div>

    </div>

</div>
<script type="text/javascript">

</script>
</body>
</html>
